:root {
    --hipp-0tec-00-0webhostappcomnero: rgba(255, 255, 255, 1);
    --hipp0tec000webhostappcommine-shaft: rgba(51, 51, 51, 1);
    --hipp-0tec-00-0webhostappcomgallery: rgba(238, 238, 238, 1);
    --hipp-0tec-00-0webhostappcomsilver: rgba(204, 204, 204, 1);
    --hipp-0tec-00-0webhostappcomemperor: rgba(85, 85, 85, 1);
    --hipp0tec000webhostappcomdusty-gray: rgba(153, 153, 153, 1);
    --hipp-0tec-00-0webhostappcomastral: rgba(46, 109, 164, 1);
    --hipp-0tec-00-0webhostappcomfern: rgba(92, 184, 92, 1);
    --hipp-0tec-00-0webhostappcomapple: rgba(76, 174, 76, 1);
    --dieguesmoskengithubiobouquet: rgba(169, 115, 150, 1);
    --dieguesmoskengithubioblack: rgba(0, 0, 0, 1);
    --dieguesmoskengithubionero: rgba(255, 255, 255, 1);
    --dieguesmoskengithubiogray: rgba(128, 128, 128, 1);
    --dieguesmoskengithubiomine-shaft-384: rgba(36, 36, 36, 0.38);
    --dieguesmoskengithubiokabul: rgba(112, 66, 63, 1);
    --dieguesmoskengithubiochambray: rgba(64, 96, 148, 1);
    --dieguesmoskengithubioaquamarine: rgba(133, 252, 219, 1);
    --dieguesmoskengithubiopurple: rgba(104, 16, 183, 1);
    --hipp0tec-000webhostapp-com-arial-narrow-30-font-family: "Arial-Narrow", Helvetica;
    --hipp0tec-000webhostapp-com-arial-narrow-30-font-weight: 400;
    --hipp0tec-000webhostapp-com-arial-narrow-30-font-size: 30px;
    --hipp0tec-000webhostapp-com-arial-narrow-30-letter-spacing: 0px;
    --hipp0tec-000webhostapp-com-arial-narrow-30-line-height: 33px;
    --hipp0tec-000webhostapp-com-arial-narrow-30-font-style: normal;
    --hipp0tec-000webhostapp-com-arial-narrow-16-font-family: "Arial-Narrow", Helvetica;
    --hipp0tec-000webhostapp-com-arial-narrow-16-font-weight: 400;
    --hipp0tec-000webhostapp-com-arial-narrow-16-font-size: 16px;
    --hipp0tec-000webhostapp-com-arial-narrow-16-letter-spacing: 0px;
    --hipp0tec-000webhostapp-com-arial-narrow-16-line-height: normal;
    --hipp0tec-000webhostapp-com-arial-narrow-16-font-style: normal;
    --hipp0tec-000webhostapp-com-arial-narrow-18-font-family: "Arial-Narrow", Helvetica;
    --hipp0tec-000webhostapp-com-arial-narrow-18-font-weight: 400;
    --hipp0tec-000webhostapp-com-arial-narrow-18-font-size: 18px;
    --hipp0tec-000webhostapp-com-arial-narrow-18-letter-spacing: 0px;
    --hipp0tec-000webhostapp-com-arial-narrow-18-line-height: 24px;
    --hipp0tec-000webhostapp-com-arial-narrow-18-font-style: normal;
    --dieguesmosken-github-io-trebuchet-MS-regular-16-font-family: "TrebuchetMS-Regular", Helvetica;
    --dieguesmosken-github-io-trebuchet-MS-regular-16-font-weight: 400;
    --dieguesmosken-github-io-trebuchet-MS-regular-16-font-size: 16px;
    --dieguesmosken-github-io-trebuchet-MS-regular-16-letter-spacing: 0px;
    --dieguesmosken-github-io-trebuchet-MS-regular-16-line-height: normal;
    --dieguesmosken-github-io-trebuchet-MS-regular-16-font-style: normal;
    --dieguesmosken-github-io-trebuchet-MS-bold-47-44-font-family: "TrebuchetMS-Bold", Helvetica;
    --dieguesmosken-github-io-trebuchet-MS-bold-47-44-font-weight: 700;
    --dieguesmosken-github-io-trebuchet-MS-bold-47-44-font-size: 47.4375px;
    --dieguesmosken-github-io-trebuchet-MS-bold-47-44-letter-spacing: 0px;
    --dieguesmosken-github-io-trebuchet-MS-bold-47-44-line-height: normal;
    --dieguesmosken-github-io-trebuchet-MS-bold-47-44-font-style: normal;
    --dieguesmosken-github-io-trebuchet-MS-regular-24-font-family: "TrebuchetMS-Regular", Helvetica;
    --dieguesmosken-github-io-trebuchet-MS-regular-24-font-weight: 400;
    --dieguesmosken-github-io-trebuchet-MS-regular-24-font-size: 24px;
    --dieguesmosken-github-io-trebuchet-MS-regular-24-letter-spacing: 0px;
    --dieguesmosken-github-io-trebuchet-MS-regular-24-line-height: normal;
    --dieguesmosken-github-io-trebuchet-MS-regular-24-font-style: normal;
    --dieguesmosken-github-io-trebuchet-MS-bold-35-font-family: "TrebuchetMS-Bold", Helvetica;
    --dieguesmosken-github-io-trebuchet-MS-bold-35-font-weight: 700;
    --dieguesmosken-github-io-trebuchet-MS-bold-35-font-size: 35px;
    --dieguesmosken-github-io-trebuchet-MS-bold-35-letter-spacing: 0px;
    --dieguesmosken-github-io-trebuchet-MS-bold-35-line-height: normal;
    --dieguesmosken-github-io-trebuchet-MS-bold-35-font-style: normal;
    --dieguesmosken-github-io-font-awesome-5-free-solid-32-font-family: "FontAwesome 5 Free-Solid", Helvetica;
    --dieguesmosken-github-io-font-awesome-5-free-solid-32-font-weight: 400;
    --dieguesmosken-github-io-font-awesome-5-free-solid-32-font-size: 32px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-32-letter-spacing: 0px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-32-line-height: 32px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-32-font-style: normal;
    --dieguesmosken-github-io-font-awesome-5-free-solid-80-font-family: "FontAwesome 5 Free-Solid", Helvetica;
    --dieguesmosken-github-io-font-awesome-5-free-solid-80-font-weight: 400;
    --dieguesmosken-github-io-font-awesome-5-free-solid-80-font-size: 80px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-80-letter-spacing: 0px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-80-line-height: 80px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-80-font-style: normal;
    --dieguesmosken-github-io-font-awesome-5-free-solid-16-font-family: "FontAwesome 5 Free-Solid", Helvetica;
    --dieguesmosken-github-io-font-awesome-5-free-solid-16-font-weight: 400;
    --dieguesmosken-github-io-font-awesome-5-free-solid-16-font-size: 16px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-16-letter-spacing: 0px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-16-line-height: 16px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-16-font-style: normal;
    --dieguesmosken-github-io-font-awesome-5-free-solid-48-font-family: "FontAwesome 5 Free-Solid", Helvetica;
    --dieguesmosken-github-io-font-awesome-5-free-solid-48-font-weight: 400;
    --dieguesmosken-github-io-font-awesome-5-free-solid-48-font-size: 48px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-48-letter-spacing: 0px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-48-line-height: 48px;
    --dieguesmosken-github-io-font-awesome-5-free-solid-48-font-style: normal;
    --dieguesmosken-github-io-times-new-roman-bold-18-font-family: "TimesNew Roman-Bold", Helvetica;
    --dieguesmosken-github-io-times-new-roman-bold-18-font-weight: 700;
    --dieguesmosken-github-io-times-new-roman-bold-18-font-size: 18px;
    --dieguesmosken-github-io-times-new-roman-bold-18-letter-spacing: 0px;
    --dieguesmosken-github-io-times-new-roman-bold-18-line-height: normal;
    --dieguesmosken-github-io-times-new-roman-bold-18-font-style: normal;
    --dieguesmosken-github-io-times-new-roman-regular-14-font-family: "TimesNew Roman-Regular", Helvetica;
    --dieguesmosken-github-io-times-new-roman-regular-14-font-weight: 400;
    --dieguesmosken-github-io-times-new-roman-regular-14-font-size: 14px;
    --dieguesmosken-github-io-times-new-roman-regular-14-letter-spacing: 0px;
    --dieguesmosken-github-io-times-new-roman-regular-14-line-height: normal;
    --dieguesmosken-github-io-times-new-roman-regular-14-font-style: normal;
  }
  